.select {
    width: 56px;
    height: 56px;
    // background-image: url(../../image/Avatar.png);
    border: none;
    outline: none;
    border-radius: 50%;
    position: relative;
}

.option {
    width: 207px;
    height: 127px;
    color: #222;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.084px;
    outline: none;
}