.btn {

    padding: 10px 20px !important;
    background: #1B5BF7 !important;
    color: #fff !important;

}

.title {
    padding: 0 !important;
    margin-bottom: 32px !important;
    color: #222;
    font-size: 32px !important;
    font-weight: 700 !important;
    line-height: 24px;
    letter-spacing: -0.192px;
}

.inp {
    padding-left: 16px;
    width: 100%;
    height: 50px;
    background: #eee;
    border: none;
    outline: none;
    margin-bottom: 34px !important;
}

.login {
    width: 100%;
    padding: 10px !important;
    background: #1B5BF7 !important;
    color: #fff !important;
    border: none;
    border-radius: 8px;
}

.question {
    color: #1B5BF7 !important;
    outline: none;
    background-color: transparent;

}

.questionText {

    margin-top: 47px !important;
}