.card {
    max-width: 360px;
    width: 100%;
    box-shadow: none;
    background: transparent;
    margin-top: 48px;

    .cardBody {
        .img {
            border-radius: 8px;
            width: 100%;
            margin-bottom: 24px;
        }

        .section {
            padding: 0;

            .viewed {
                opacity: 0.5;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 8px;
            }

            .title {
                width: 346px;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                box-orient: vertical;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                padding: 0 2rem;
                padding-left: 1px;
                padding-bottom: 5px;

            }
        }
    }
}