.btn {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #1B5BF7;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    cursor: pointer;
}