@import './sass/variables.scss';
@import './sass/fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: $main-font-family;
  background-color: #fff;
  color: $main-color;
}

a {
  text-decoration: none;
  color: $main-color;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}