.home {
    width: 100%;
}

.userPostes {
    margin-bottom: 45px;
    display: flex;
}

.historyWrp {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.wrp {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 304.6px;
}