.wrapper {
    display: flex;
    color: #AEBEC9;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
}

.image {
    width: 869px;
    height: 400px;
    object-fit: cover;

}

.userInfo {

    width: 869px;
    display: flex;
    flex-direction: column;
    margin-top: 425px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.userName {
    color: #2D2D2D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 100% */
}

.userNames {
    color: #2D2D2D;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
}

.buttonsWrap {
    display: flex;
    gap: 18px;
    margin-top: 19px;
}

.midleContainer {
    margin-top: 62px;
    margin-left: 50px;
    margin-right: 490px;
}

.postWrp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.postName {
    color: #2D2D2D;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 32px;
    margin-bottom: 32px;
}

.infoSection {
    margin-bottom: 117px;
}

.postText {
    width: 869px;
    align-self: stretch;
    color: #2D2D2D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;

}

.bold {
    color: #2D2D2D;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
}