.InfoUser {
    display: flex;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 117px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 56px;
}

.name {
    margin-bottom: 32px;
    color: #222;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    /* 120% */
}

tr {
    width: 639px;
    height: 56px;
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 80px;
    // align-self: stretch;
    align-items: center;
}

td {
    width: 234px;
    height: 40px;
    color: #222;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.44px;
}

.newpost {
    margin-top: 32px;
    margin-bottom: 367px;
}

.userPhoto {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    margin-top: 40px;
}